SERVER_PORT=8080
KUBECONFIG_PATH=/home/youruser/.kube/config-k3s

# Optional
PROMETHEUS_URL=http://your-pi-ip:30086

JWT_SECRET=changeme
ADMIN_EMAIL=your@email.com
ADMIN_PASSWORD=changeme

# Optional
SERVICEPATROL_URL=http://your-pi-ip:30096
